body, html {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: Inter-regular;
    src: url(Inter-regular.ttf);
}

#bgimg, p {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Inter-Regular', sans-serif;
}
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.middle {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.bottom{
  top: 95%;
  font-size: "20px";
}
.orignal_image{
  position: absolute;
  top: 95%;
}



#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
/*#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}*/
